<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyc.recruit.model.dao.ResourceManMapper">
    <resultMap id="BaseResultMap" type="com.lyc.recruit.model.pojo.ResourceMan">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="nickname" jdbcType="VARCHAR" property="nickname"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="department" jdbcType="VARCHAR" property="department"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="role" jdbcType="INTEGER" property="role"/>
        <result column="image" jdbcType="VARCHAR" property="image"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        id
        , username, `password`, nickname, phone, email, department, code, `role`, image,
    create_time, update_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from resource_man
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from resource_man
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.lyc.recruit.model.pojo.ResourceMan">
        insert into resource_man (id, username, `password`,
                                  nickname, phone, email,
                                  department, code, `role`,
                                  image, create_time, update_time)
        values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
                #{nickname,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR},
                #{department,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{role,jdbcType=INTEGER},
                #{image,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.lyc.recruit.model.pojo.ResourceMan">
        insert into resource_man
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="password != null">
                `password`,
            </if>
            <if test="nickname != null">
                nickname,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="department != null">
                department,
            </if>
            <if test="code != null">
                code,
            </if>
            <if test="role != null">
                `role`,
            </if>
            <if test="image != null">
                image,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null">
                #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="department != null">
                #{department,jdbcType=VARCHAR},
            </if>
            <if test="code != null">
                #{code,jdbcType=VARCHAR},
            </if>
            <if test="role != null">
                #{role,jdbcType=INTEGER},
            </if>
            <if test="image != null">
                #{image,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.lyc.recruit.model.pojo.ResourceMan">
        update resource_man
        <set>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                `password` = #{password,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null">
                nickname = #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="department != null">
                department = #{department,jdbcType=VARCHAR},
            </if>
            <if test="code != null">
                code = #{code,jdbcType=VARCHAR},
            </if>
            <if test="role != null">
                `role` = #{role,jdbcType=INTEGER},
            </if>
            <if test="image != null">
                image = #{image,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.lyc.recruit.model.pojo.ResourceMan">
        update resource_man
        set username    = #{username,jdbcType=VARCHAR},
            `password`  = #{password,jdbcType=VARCHAR},
            nickname    = #{nickname,jdbcType=VARCHAR},
            phone       = #{phone,jdbcType=VARCHAR},
            email       = #{email,jdbcType=VARCHAR},
            department  = #{department,jdbcType=VARCHAR},
            code        = #{code,jdbcType=VARCHAR},
            `role`      = #{role,jdbcType=INTEGER},
            image       = #{image,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            update_time = #{updateTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectOneByEmail" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from resource_man
        where email = #{email,jdbcType=VARCHAR}
        limit 1
    </select>
    <select id="selectByName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from resource_man
        where username = #{username,jdbcType=VARCHAR}
    </select>
    <select id="selectLogin" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from resource_man
        where username = #{username,jdbcType=VARCHAR}
        and password = #{password,jdbcType=VARCHAR}
    </select>

    <resultMap id="rmResourceMan" type="com.lyc.recruit.model.request.ResourceManReq">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="code" property="code"/>
        <result column="image" property="image"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <association property="company" select="com.lyc.recruit.model.dao.CompanyMapper.selectByCode"
                     column="code"></association>
    </resultMap>
    <select id="selectHrAndCompany" parameterType="integer" resultMap="rmResourceMan">
        select *
        from resource_man
        where id = #{id,jdbcType=INTEGER}
    </select>
    <update id="updatePassword" parameterType="map">
        update resource_man
        set `password` = #{newPassword,jdbcType=VARCHAR}
        where username = #{username,jdbcType=VARCHAR}
    </update>
    <update id="updateCode" parameterType="map">
        update resource_man
        set code = #{code,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="selectAllResourceMan" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from resource_man
    </select>
    <select id="selectAllByUsername" parameterType="com.lyc.recruit.model.pojo.ResourceMan" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from resource_man
        <where>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
</mapper>